/* GENERAL */

ul {
    margin: 0;
    padding: 0;
}

li {
    display: block;
    margin: 0;
}

label {
    margin-top: 1ex;
    display: block;
}

input {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 100%;
}

.helptext {
    color: grey;
    font-size: 90%;
}

.errorlist {
    color: red;
}
