{% extends "bluedot_django_przemocnie/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block main %}
	<div class="section">
		<div class="bg">&nbsp;</div>
		<div class="content">
			<article class="article">
				{% if contents.news_found %}
					<h2>{{ contents.news.title }}</h2>
					{{ contents.news.summary | safe }}
					{{ contents.news.text | safe }}
					<div class="article-sidenotes">
						<span>
							{% blocktrans with contents.news.publication_datetime as datetime and contents.news.publisher as publisher %}Published {{ datetime }} by {{ publisher }}{% endblocktrans %}
						</span>
						&nbsp&nbsp|&nbsp&nbsp
						<span>
							{% blocktrans with contents.news.last_edition_datetime as datetime and contents.news.last_editor as editor %}Last edited {{ datetime }} by {{ editor }}{% endblocktrans %}
						</span>
					</div>
				{% else %}
					{% trans 'The article you are looking for does not exist…' %}
				{% endif %}
			</article>
		</div>
	</div>
{% endblock %}

