{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="og:title" content="{% trans 'PRZEMOCNIe Foundation' %}">
		{# Translators: Description of the page visible in link previews in chats or social media posts. #}
		<meta name="og:description" content="{% blocktrans %}_PRZEMOCNIE_MEDIA_DESCRIPTION_{% endblocktrans %}">
		<meta property="og:image" content="{% static 'logo.png' %}">
		<meta property="og:url" content="http://przemocnie.org/">
		<meta name="google-site-verification" content="etgbTEM6coh_M8P47SNFpK5VysCcI0gCJqCVKb-jrSI" />
		<meta name="google-site-verification" content="a0OD6ywvTSOrAgmB3AZAcqV1fZzcmYbRlG2-OfVca_4" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" media="screen" href="{% static 'style.css' %}">
		<link rel="stylesheet" media="screen" href="{% static 'bdt-rst.css' %}">
		<script type="text/javascript" src="{% static 'bdt-gui.js' %}"></script>
		{% block head %}{% endblock %}
		<title>{% trans 'PRZEMOCNIe Foundation' %}</title>
	</head>
	<body>
		<div class="body">
			<header>
				<div class="bg">&nbsp;</div>
				<div class="header-content">
					<nav>
						<ul>
							<li><a href="{% url 'przemocnie_home' %}">{% trans 'About' %}</a></li>
							<!--<li><a href="{% url 'przemocnie_news' %}">{% trans 'News' %}</a></li>-->
						</ul>
					</nav>
					<div>
						<img src="{% static 'logo.png' %}" id="main-logo">
					</div>
					{# Translators: The text of the abstract on the home page. #}
					<div class="abstract">{% blocktrans %}<p>_PRZEMOCNIE_HOMEPAGE_ABSTRACT_</p>{% endblocktrans %}</div>
				</div>
			</header>
			<main>
				{% block main %}{% endblock %}
			</main>
			<footer class=bdt-copyright-footer>&copy; {% now "Y" %} BlueDot Technologies</footer>
		</div>
	</body>
</html>
