{% extends "bluedot_django_przemocnie/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block main %}
		<div class="section">
			<div class="bg">&nbsp;</div>
			<div class="content">
				<div class="header">{% trans 'Goals' %}</div>
				{# Translators: Description of the goals on the home page. #}
				<div id="goals-toggle-content" class="toggle-content collapsed-content" onclick="toggle_content('goals-toggle-content', 'collapsed-content')">
					{% blocktrans %}<p>_PRZEMOCNIE_HOMEPAGE_GOALS_</p>{% endblocktrans %}
				</div>
			</div>
		</div>

		<div class="section">
			<div class="bg">&nbsp;</div>
			<div class="content">
				<div class="header">{% trans 'About me' %}</div>
				<div>
					<div class="figure displaced-left">
						<img src="{% static 'ania2.jpg' %}">
					</div>
					{% blocktrans %}<p>_PRZEMOCNIE_HOMEPAGE_ABOUT_US_</p>{% endblocktrans %}
				</div>
			</div>
		</div>

		<div class="section">
			<div class="bg">&nbsp;</div>
			<div class="content">
				<div class="header">{% trans 'Contact' %}</div>
				<div class="contacts">
					<a href="https://www.youtube.com/channel/UC2qvolHkdopj7FqVuWFuSCw" target="_blank" class="contact dot-bordered" id="contact-youtube">
						<img src="{% static 'youtube-icon.png' %}">
						<h1>{% trans 'Youtube' %}</h1>
						{# Translators: Text for Youtube contact button on the home page. #}
						<div>{% blocktrans %}_PRZEMOCNIE_HOMEPAGE_YOUTUBE_TEXT_{% endblocktrans %}</div>
					</a>
					<a href="https://www.facebook.com/PRZEMOCNI/" target="_blank" class="contact dot-bordered" id="contact-facebook">
						<img src="{% static 'facebook-icon.png' %}">
						<h1>{% trans 'Facebook' %}</h1>
						{# Translators: Text for Facebook contact button on the home page. #}
						<div>{% blocktrans %}_PRZEMOCNIE_HOMEPAGE_FACEBOOK_TEXT_{% endblocktrans %}</div>
					</a>
					<a href="https://www.instagram.com/przemocnie/" target="_blank" class="contact dot-bordered" id="contact-instagram">
						<img src="{% static 'instagram-icon.png' %}">
						<h1>{% trans 'Instagram' %}</h1>
						{# Translators: Text for Instagram contact button on the home page. #}
						<div>{% blocktrans %}_PRZEMOCNIE_HOMEPAGE_INSTAGRAM_TEXT_{% endblocktrans %}</div>
					</a>
				</div>
				<div>
					{# Translators: Contact text on the home page. #}
					{% blocktrans %}<p>_PRZEMOCNIE_HOMEPAGE_CONTACT_TEXT_</p>{% endblocktrans %}
					<div class="paragraph"><b>{% trans 'E-mail:' %}</b>&nbsp;przemocnie@gmail.com</div>
					<div class="paragraph"><b>{% trans 'Phone:' %}</b>&nbsp;795-047-700</div>
				</div>
				<div class="spacer"></div>
			</div>
		</div>

		<div class="section">
			<div class="bg">&nbsp;</div>
			<div class="content">
				<div class="header">{% trans 'Formal Information' %}</div>
				<a href="https://www.google.pl/maps/place/St%C4%99pina+307,+38-125+St%C4%99pina/@49.8889413,21.5838662,742m/data=!3m1!1e3!4m5!3m4!1s0x473dac0d4ade917d:0xe5427893f00052b1!8m2!3d49.8889379!4d21.5860549?dcr=0" target="_blank"><img id="map" class="dot-bordered" src="{% static 'map.png' %}"></a>
				<div class="block-text">
					<div class="paragraph"><b>{% trans 'Address:' %}</b><br>{% trans 'Stępina 307<br>38-125 Stępina<br>Poland' %}</div>
					<div class="paragraph"><b>{% trans 'Bank&nbsp;account&nbsp;number:' %}</b><br>29&nbsp;1750&nbsp;0012&nbsp;0000&nbsp;0000&nbsp;3428&nbsp;8984<br>Raiffeisen Bank Polska S.A.</div>
					<div class="paragraph"><b>{% trans 'KRS&nbsp;No.:' %}</b>&nbsp;0000608134</div>
				</div>
				<div class="spacer"></div>
			</div>
		</div>
{% endblock %}

