{% extends "bluedot_django_przemocnie/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block main %}
	{% for news in contents.news %}
		<div class="section">
			<div class="bg">&nbsp;</div>
			<div class="content">
				<a href="{% url 'przemocnie_article' news.id %}" class="article-link">
					<article>
						<h2>{{ news.title }}</h2>
						{{ news.summary | safe }}
						<div class="article-sidenotes">
							<span>
								{% blocktrans with news.publication_datetime as datetime and news.publisher as publisher %}Published {{ datetime }} by {{ publisher }}{% endblocktrans %}
							</span>
							&nbsp&nbsp|&nbsp&nbsp
							<span>
								{% blocktrans with news.last_edition_datetime as datetime and news.last_editor as editor %}Last edited {{ datetime }} by {{ editor }}{% endblocktrans %}
							</span>
						</div>
					</article>
				</a>
			</div>
		</div>
	{% endfor %}
{% endblock %}

