.bdt-publication-active {
    color: black;
}

.bdt-publication-inactive {
    color: grey;
}

.bdt-publication-title {
    display: block;
    font-weight: bold;
    padding: 1ex;
}

.bdt-publication-summary {
    display: block;
    padding: 1ex;
}

.bdt-publication-buttons {
    display: inline;
    float: right;
    padding: 1ex;
    font-size: 80%;
    color: gray;
}

.bdt-publication-buttons a {
    text-decoration: none;
    padding: 1ex;
    color: gray;
}

.bdt-publication:hover a {
    color: black;
}

.bdt-publication a:hover {
    text-decoration: underline;
}
