{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" media="screen" href="{% static 'bdt.css' %}">
		<link rel="stylesheet" media="screen" href="{% static 'bdt-gray.css' %}">
		<link rel="stylesheet" media="screen" href="{% static 'bdt-rst.css' %}">
		<link rel="stylesheet" media="screen" href="{% static 'bdt-publication.css' %}">
		<script type="text/javascript" src="{% static 'bdt-base.js' %}"></script>
		{% block head %}{% endblock %}
		<title>BlueDot - Publications</title>
	</head>
	<body>
		<main>
			{% block main %}{% endblock %}
		</main>
		<footer class=bdt-copyright-footer>&copy; {% now "Y" %} BlueDot Technologies</footer>
	</body>
</html>

