{% extends "bluedot_django_publication/base.html" %}
{% load static %}

{% block head %}
	<script type="text/javascript" src="{% static 'bdt-publication-editor.js' %}" defer></script>
{% endblock %}

{% block main %}
	<script>document.PUBLICATIONS_INFO = {{ contents.publications | safe }};</script>
	<textarea id="publication-title"></textarea>
	<br>
	<textarea id="publication-summary"></textarea>
	<br>
	<textarea id="publication-text"></textarea>
	<br>
	<input type="checkbox" id="publish-checkbox">
	<label for="publish-checkbox">publish</label>
	<br>
	<a href="#" onclick="publication_editor.save()" id="save-button" class="bdt-button">Save</a>
	<a href="{% url 'publications_home' %}" class="bdt-button">Back</a>
{% endblock %}

