{% extends "bluedot_django_publication/base.html" %}
{% load static %}

{% block head %}
	<script type="text/javascript" src="{% static 'bdt-publication-list.js' %}" defer></script>
{% endblock %}

{% block main %}
	<div class="bdt-center-box">
		<div class="bdt-title">Info</div>
		<ul>
			<li>Logged as: '{{ user.get_username }}'</li>
			<li>Website: <a href="http://{{ request.META.HTTP_HOST }}">{{ request.META.HTTP_HOST }}</a></li>
		</ul>
	</div>
	<div class="bdt-center-box">
		<script>document.PUBLICATIONS_INFO = {{ contents.publications | safe }};</script>
		<div class="bdt-title">Publications</div>
		<div id="publications-placeholder">Loading application…</div>
		<a href="#" id="new-publication-button" class="bdt-button">Create new publication</a>
	</div>
{% endblock %}

