{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" media="screen" href="{% static 'bdt.css' %}">
		<link rel="stylesheet" media="screen" href="{% static 'bdt-gray.css' %}">
		<link rel="stylesheet" media="screen" href="{% static 'bdt-support-auth.css' %}">
		{% block head %}{% endblock %}
		<title>BlueDot - Authentication</title>
	</head>
	<body>
		<main>
			{% block main %}{% endblock %}
		</main>
		<footer class=bdt-copyright-footer>&copy; {% now "Y" %} BlueDot Technologies</footer>
	</body>
</html>


