{% extends "bluedot_django_support_auth/base.html" %}

{% block head %}
{% endblock %}

{% block main %}
	<div class="bdt-center-box">
		<div class="bdt-title">Authentication</div>
		{% if user.is_authenticated %}
			<a href="{% url 'bluedot_django_support_auth_logout' %}">Logout</a>
		{% else %}
			<a href="{% url 'bluedot_django_support_auth_login' %}">Login</a>
			<br>
			<a href="{% url 'bluedot_django_support_auth_register' %}">Register</a>
		{% endif %}
	</div>
{% endblock %}
