{% extends "bluedot_django_support_auth/base.html" %}

{% block head %}
{% endblock %}

{% block main %}
	<div class="bdt-center-box">
		<div class="bdt-title">Login</div>
		{% if user.is_authenticated %}
		<p>You are already logged in as "{{ user }}".</p>
		{% else %}
			{% if form.errors %}
				<p>Login failed. Please try again.</p>
			{% endif %}

			<form method="post" action="{% url 'bluedot_django_support_auth_login' %}">
				{% csrf_token %}
				<ul>
					{{ form.as_ul }}
				</ul>
				<br>
				<input type="submit" value="Login" class="bdt-button" />
				<input type="hidden" name="next" value="{{ next }}" />
			</form>
		{% endif %}
	</div>
{% endblock %}
