{% extends "bluedot_django_support_auth/base.html" %}

{% block head %}
{% endblock %}

{% block main %}
	<div class="bdt-center-box">
		<div class="bdt-title">Logout</div>
		{% if user.is_authenticated %}
			<p>Something went wrong. You are still logged in.</p>
		{% else %}
			<p>You have been logged out.</p>
		{% endif %}
	</div>
{% endblock %}

