{% extends "bluedot_django_support_auth/base.html" %}

{% block head %}
{% endblock %}

{% block main %}
	<div class="bdt-center-box">
		<div class="bdt-title">Registration</div>
		{% if user.is_authenticated %}
			<p>You are already logged in. (<a href="{% url 'bluedot_django_support_auth_logout' %}">Logout</a>)</p>
		{% else %}
			{% if form.errors %}
				<p>Registration failed. Please try again.</p>
			{% endif %}

			<form method="post" action="{% url 'bluedot_django_support_auth_register' %}">
				{% csrf_token %}
				<ul>
					{{ form.as_ul }}
				</ul>
				<br>
				<input type="submit" value="Register" class="bdt-button" />
			</form>
		{% endif %}
	</div>
{% endblock %}
