body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #eee;
    box-sizing: border-box;
    background-image: url("/static/bg.jpg");
    background-attachment: fixed;
}

header {
    display: block;
    position: relative;
    max-width: 1200px;
    margin: auto;
    overflow: auto;
}

header .bg {
    background-color: white;
}

footer {
    padding: 1ex;
    text-align: center;
    color: grey;
    font-size: 80%;
}

/* Layout */

.body {
    max-width: 1200px;
    margin: auto;
}

.section {
    display: block;
    position: relative;
}

.content,
.header-content {
    overflow: visible;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

main > div:nth-child(odd) .bg {
    background: #ddd;
}

main > div:nth-child(even) .bg {
    background: #fff;
}

article {
    padding: 1em;
}

/* Header */

nav {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-size: 120%;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 1ex 1em;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

#main-logo {
    display: block;
    margin: -13% auto -3% auto;
    z-index: -1;
}

.abstract {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-size: 120%;
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 3ex 1em 1ex;
}

/* Text */

p {
    text-align: center;
    padding: 0 1em 1em 1em;
    margin: 0;
}

article p {
    text-align: left;
    padding: 0 0 1em 0;
}

.header {
    display: block;
    margin: 0 1em;
    padding: 1em 0;
    font-weight: bold;
    font-size: 150%;
}

.padded {
    padding: 1em 1em 1em 1em;
}

.block-text {
    display: table-cell;
}

.paragraph {
    display: block;
    padding: 0ex 1em 1ex 1em;
}

/* Figures */

.figure {
    display: inline-block;
    position: relative;
}

.caption {
    position: absolute;
    right: 10em;
    bottom: 10em;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 1ex;
    color: white;
    padding: 1em;
    transform: rotate(-10deg);
}

img {
    max-width: 100%;
}

/* Contact */

.contact {
    display: block;
    box-sizing: border-box;
    background-color: #f8f8f8;
    border-radius: 1em;
    text-decoration: none;
    color: black;
    padding: 1em;
    margin: 1em;
    overflow: auto;
}

.contact:hover img {
    transform: scale(1.2, 1.2);
}

.contact h1 {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 150%;
}

.contact img {
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 1em;
}

@media screen and (max-width: 600px) {
    .contacts {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .contacts {
        float: right;
        min-width: 50%;
        max-width: 75%;
        padding: 0 1ex;
        clear: right;
    }

    #contact-youtube {
        margin-right: 1em;
        margin-left: 2em;
        transform: rotate(1deg);
    }

    #contact-facebook {
        margin-right: 3em;
        margin-left: 0em;
        transform: rotate(-1deg);
    }

    #contact-instagram {
        margin-right: 2em;
        margin-left: 1em;
        transform: rotate(1deg);
    }
}

/* Articles */

.article-link {
    display: block;
    color: black;
    text-decoration: none;
}

.article-link:hover {
    text-decoration: underline;
}

.article-sidenotes {
    display: block;
    font-size: 80%;
}

/* Collapsing */

.toggle-content {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.toggle-content.collapsed-content {
    max-height: 15em;
}

.toggle-content.collapsed-content:after {
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: -3em; right: -3em;
    box-shadow: inset #ddd 0 -3em 3em;
}

/* Other */

.spacer {
    clear: both;
}

.dot-bordered {
    border-style: dotted;
    border-color: grey;
    border-width: 0.5ex;
}

.dot-bordered:hover {
    border-color: black;
}

@media screen and (min-width: 600px) {

    /* Alignment */

    .right {
        text-align: right;
    }

    .displaced-left {
        margin-left: -120px;
        float: left;
        padding: 1em;
        transform: rotate(-3deg);
    }

    .displaced-right {
        margin-right: -120px;
        float: right;
        vertical-align: bottom;
        padding: 1em;
        transform: rotate(3deg);
    }

    /* Elements */

    #map {
        margin: 0 1em 1em 1em;
        float: left;
        transform: rotate(-2deg);
    }
}

@media screen and (min-width: 1000px) {
    .section {
        min-width: 100%;
        margin: -10px 0 0 0;
        display: inline-block;
        overflow: visible;
    }

    .content {
        margin: 60px 100px 30px 100px;
    }

    .header-content {
        margin: 0px 100px 30px 100px;
    }

    /* Backgrouns */

    header .bg {
        clip-path: polygon(100px 0, calc(100% - 100px) 0, calc(100% - 50px) 100%, 40px calc(100% - 20px));
    }

    main > div:nth-child(odd) .bg {
        clip-path: polygon(20px 60px, calc(100% - 70px) 0px, calc(100% - 40px) calc(100% - 0px), 30px calc(100% - 20px));
    }

    main > div:nth-child(even) .bg {
        clip-path: polygon(40px 20px, calc(100% - 60px) 0px, calc(100% - 70px) calc(100% - 40px), 0 calc(100% - 10px));
    }

    /* Contacts */

    .contacts {
        margin-right: -100px;
    }

}

@media screen and (max-width: 1000px) {
    .section {
        overflow: visible;
        padding: 0 0 2em 0;
        margin: 0 0 -2em 0;
    }

    .content {
        margin: 0;
    }

    .contacts {
        margin-right: -20px;
    }
}

@media screen and (max-width: 600px) {
    #map {
        display: block;
        margin: 1em auto;
        box-sizing: border-box;
    }
}

